body {
	background-color: lightgray;
}
.button{
	color: whitesmoke;
	background-color: orange;
	font-weight: bold;
	margin:5% 10% 2% 0;
	padding: 1em;
	display: inline-block;
	letter-spacing: .1rem;
  	text-transform: uppercase;
  	text-decoration: none;
  	white-space: nowrap;
  	border-radius: 4px;
	cursor: pointer;
  	box-sizing: border-box;
}
div{
	text-align: center;
	vertical-align: middle;
}
.form{
	width: 33.333333%;
	margin: 0px auto;
	padding: 1em;
	clear: both;
}
.explorer{
	width: 20%;
	height: 25px;
	float: left;
	margin: 0 20px 0 20px;
}
div.logo img{
	float: left;
	margin: 0 8%;
}
form input{
	width: 100%;
}
form.login{
	text-align: center;
	width: 400px;
	height: 400px;
	margin: 0 33.33333% 0 33.33333%;
	border: 2px solid orangered;
	background-color: lightsalmon;
	color: white;
}
section{
	background-color: orangered;
	border: 2px solid orangered;
	text-align: center;
	color: white;
	margin: 0 0 30% 0;
	
}
h3 {
	color: orangered;
	text-align: center;
	margin: 4% 0;
}
h4 { 
	font-size: 1.5rem; 
	line-height: 1.3;  
	letter-spacing: -.1rem;
}
h6 { 
	font-size: 1rem; 
	line-height: 1.3;  
	letter-spacing: -.1rem;
}
	 
a {
	text-decoration: none;
	font-family: "Roboto Condensed","Helvetica","sans-serif";
}
a:hover {
  color: #0FA0CE; }
span{
	vertical-align: middle;
}
<!--DASHBOARD-->
nav{
	padding: 2%;
	margin: 10px;
}
header div.logo img{
	width: 80%;
}
header div{
	position: relative;
}
.container {
    width: 100%;
    margin: 0px auto;
	height: 18%;
	background-color: #FF6600;
	padding: 10px;
}
#right{
	float: right;
	width: 12%;
	padding: 0.5%;
	
}
.second-container {
    width: 100%;
    margin: 0px auto;
	height: auto;
	padding: 1%;
	float: left;
}
.second-container div{
	padding: 0.5%;
	vertical-align: middle;
	text-align: center;
}
.second-container div div{
	padding: 0.5%;
	vertical-align: middle;
	text-align: center;
	margin-top: 3%;
	float: left;
}

.logo{
	width: 5%;
	height: auto;
	float: left;
	margin: 1px 5% 0 30px;
}
nav.main-menu.right {
    left: auto;
    float: left;
	width: 70%;
	height: 100%;
	background-color: #FF6600;
}
nav.main-menu.right > ul {
    left: auto;
}
ul{
	list-style-position:inside
}
#selected{
	color: #FF6600;
	background-color: white;
	border: 2px dashed;
}

nav.main-menu ul li {
    display: inline-block;
    margin: 0px 2%;
    background-repeat: no-repeat;
    background-position: right center;
	border: 2px dashed white;
	text-align: center;
	color: white;
	text-decoration: none;
	width: 25%;
	height: 43%;
	
}
nav.main-menu ul {
    list-style: outside none none;
}
ul li span{
	vertical-align: middle;
	position: relative;
	text-transform: uppercase;
}
ul {
  list-style: circle inside; 
  }
  
ol, ul {
  padding-left: 0;
  margin-top: 0;
  }
li {
  margin-bottom: 1rem;
  }
section.middle{
	float: left;
	vertical-align: middle;
	text-align: center;
	margin: 0 1% 0.5% 1%;
	background-color: transparent;
	border-color: transparent;
}
section.middle span{
	text-align: center;
	margin: 0 10% 10% 5%;
	color: black;
	
}
div.big-header{
	margin: 10% 25%;
	width: 100%;
}
<!--My clients-->
.my-tables{
	border: 1px solid #FF6600;
	caption-side: top;
	background-color: yellowgreen;
}
table{
	clear: both;
	text-align: center;
	border-collapse: separate;
	width: 100%;
	margin: 5% 3% 3% 1%;
}
th{
	border-collapse: collapse;
	background-color: seagreen;
	height: auto;
	color: white;
}
#id-column{
	text-align: center;
	width: 15%;
}
#fullname-column{
	text-align: center;
	width: 45%;
}
#action-column{
	text-align: center;
	width: 10%;
}
#new{
	width: 100%;
	height: auto;
	background-color: orange;
	text-align: center;
}
/* New client*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 3em;
  padding: 1%;
  margin: 1.5%;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box;
  resize: none;
  clear: both;
  }

form{
	clear: both;
	text-align: left;
	border-collapse: separate;
	width: 100%;
	margin: 5% 3% 3% 1%;
	margin-bottom: 2.5rem;
}
.half{
	float: left;
	width: 30%;
	margin-right: 20%;
	margin-top: 8%;
}
.smaller{
	width: 65%;
}
#green{
	background-color: forestgreen;
}
#red{
	background-color: darkred;
}
/* CRUID Invoices*/
div.form{
	width: 65%;
	height: auto;
}
div.form textarea{
	width: 65%;
	height: 3em;
	padding: 1%;
	margin: 1%;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	box-shadow: none;
	box-sizing: border-box;
	clear: both;
	float: right;
}
.size-form{
	text-align: left;
	margin-bottom: 1%;
}
#form_new{
  margin: 10px 0px 0px 87px;
  text-align: left;
  clear: both;
  background: #F0F0F0 none repeat scroll 0% 0%;
  padding: 43px;
  border-radius: 0px 0px 11px 11px;
  border: 0px ridge #000;
  overflow: hidden;
}
#description{
	width: 100%;
	height: 20%;
	margin: 0;
}