body {
	background-color: lightgray;
}
.button{
	color: whitesmoke;
	background-color: darkorange;
	font-weight: bold;
	margin:5% 10% 2% 0;
	position: relative;
}
.explorer{
	width: 20%;
	height: 25px;
	float: left;
	margin: 0 20px 0 20px;
}
div.logo img{
	float: left;
	margin: 0 8%;
}
form.login{
	text-align: center;
	width: 400px;
	height: 400px;
	margin: 0 33.33333% 0 33.33333%;
	border: 2px solid orangered;
	background-color: lightsalmon;
	color: white;
}
section{
	background-color: orangered;
	border: 2px solid orangered;
	text-align: center;
	color: white;
	margin: 0 0 30% 0;
	
}
h3 {
	color: orangered;
	text-align: center;
	margin: 4% 0;
}
a {
	text-decoration: none;
}
span{
	vertical-align: middle;
}
<!--DASHBOARD-->
nav{
	padding: 2%;
	margin: 10px;
}
header div.logo img{
	width: 80%;
}
header div{
	position: relative;
}
.container {
    width: 100%;
    margin: 0px auto;
	height: 18%;
	background-color: #FF6600;
	padding: 10px;
}
#right{
	float: right;
	width: 12%;
}
.second-container {
    width: 100%;
    margin: 0px auto;
	height: auto;
	padding: 1%;
	float: left;
}
.logo{
	width: 5%;
	height: auto;
	float: left;
	margin: 1px 5% 0 30px;
}
nav.main-menu.right {
    left: auto;
    float: left;
	width: 70%;
	height: 100%;
	background-color: #FF6600;
}
nav.main-menu.right > ul {
    left: auto;
}
ul{
	list-style-position:inside
}
#selected{
	color: #FF6600;
	background-color: white;
	border: 2px dashed;
}

nav.main-menu ul li {
    display: inline-block;
    margin: 0px 2%;
    background-repeat: no-repeat;
    background-position: right center;
	border: 2px dashed white;
	text-align: center;
	color: white;
	text-decoration: none;
	width: 25%;
	height: 43%;
	
}
nav.main-menu ul {
    list-style: outside none none;
}
ul li span{
	vertical-align: middle;
	position: relative;
}
section.middle{
	float: left;
	vertical-align: middle;
	text-align: center;
	margin: 0 1% 0.5% 1%;
	background-color: transparent;
	border-color: transparent;
}
section.middle span{
	text-align: center;
	margin: 0 10% 10% 5%;
	color: black;
	
}
div.big-header{
	margin: 10% 25%;
	width: 100%;
}
<!--My clients-->
.my-clients{
	border: 1px solid #FF6600;
	caption-side: top;
	background-color: yellowgreen;
}
table{
	clear: both;
	text-align: center;
	border-collapse: separate;
	width: 100%;
	margin: 5% 3% 3% 1%;
}
th{
	border-collapse: collapse;
	background-color: seagreen;
	height: auto;
	color: white;
}
#id-column{
	text-align: center;
	width: 15%;
}
#fullname-column{
	text-align: center;
	width: 45%;
}
#action-column{
	text-align: center;
	width: 10%;
}
#new{
	width: 12%;
	height: auto;
}

